<ul class="sidebar-nav list-group">
  <li class="list-group-item"><a href="{% url 'tournament:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:league-list' %}">All leagues</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:team-list' %}">All teams</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:player-list' %}">All players</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:game-session-list' %}">All game sessions</a></li>
</ul>
