<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>
  
  <li class="list-group-item"><a href="{% url 'tournament:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:league-list' %}">All leagues</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:team-list' %}">All teams</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:player-list' %}">All players</a></li>
  <li class="list-group-item"><a href="{% url 'tournament:game-session-list' %}">All game sessions</a></li>
</ul>
