{% extends "base.html" %}

{% block content %}
  <h1>Football Sim Tournament Home</h1>
  <p>Welcome to Best Tournament Ever!</p>
  <h2>Dynamic content</h2>
  <p>
    The Football Sim Tournament have <strong>{{ num_teams }} teams</strong> from <strong>{{ num_leagues }} leagues</strong>.
    Our <strong>{{ num_players }} players</strong> already play <strong>{{ num_game_sessions }} game sessions</strong>!
  </p>
  <p>
    You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
