{% extends "base.html" %}

{% block content %}
  <h1>
    League list
    <a href="{% url 'tournament:league-create' %}">+</a>
  </h1>

  {% include "includes/search_form.html" %}

  {% if league_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for league in league_list %}
        <tr>
          <td>
            {{ league.id }}
          </td>
          <td>
            {{ league.name }}
          </td>
          <td>
            {{ league.country }}
          </td>
          <td>
            <a href="{% url 'tournament:league-update' pk=league.id %}">Update</a>
          </td>
          <td>
            <a href="{% url 'tournament:league-delete' pk=league.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    There are no leagues in tournament
  {% endif %}

{% endblock %}
