{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    <strong>{{ team.name }}</strong>
  </h1>
  <p><strong>League:</strong> {{ team.league.name }}</p>

  <hr>

  <p><strong>Rating:</strong> {{ team.rating }}/10</p>

  <h3>Game sessions</h3>
  {% for game_session in team.game_sessions.all %}
    <hr>
    <p><strong>Player:</strong> {{ game_session.player.username }}</p>
    <p><strong>Date:</strong> {{ game_session.date }}</p>
    <p><strong>Last stage:</strong> {{ game_session.last_stage }}</p>
    <p><strong>Score:</strong> {{ game_session.score }}</p>
  {% endfor %}
  
  <a href="{% url 'tournament:team-update' pk=team.id %}" class="btn btn-primary">Update</a>
  <a href="{% url 'tournament:team-delete' pk=team.id %}" class="btn btn-danger">Delete</a>

{% endblock %}
